#info__cars{}

.btn.car__btn{
  border-radius: 2px;
  font-size: 0.8125rem;
  height: 35px;
  width: 123px;
  line-height: 35px;
  padding: 0;
  border:none;
}

.car{
  &__box{
    padding: 15px 0;
    height: 100%;
    & > img{
      width: 100%;
    }
  }
  &__header{
    margin: 25px 0 20px 0;
    font-size: 0.875rem;
    font-weight: bold;
  }
  &__about{
    font-size: 0.8125rem;
    padding-bottom: 30px;
  }
  &__btn{
    text-transform: capitalize;
    background-color: $brandColor;
    color: $fontColor;
    position: absolute;
    bottom: 15px;
    left: 15px;
    &:hover{
      color: #fff;
    }
  }
}
