#info__content{
  overflow: hidden;
  & h1{
    padding: 40px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
#info__grey{
  height: 4px;
  background-color: #f9fafb;
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  margin: 0 auto;
  left: 15px;
}
.info{
  &__nav{
    @extend %flexim;
    z-index: 3;
    position: relative;
    box-sizing: border-box;
    border-bottom: 4px solid #f9fafb;
    height: 80px;
    opacity: .4;
    &:hover{
      border-bottom: 4px solid $brandColor;
      opacity: 1;
    }
    &.active{
      border-bottom: 4px solid $brandColor;
      opacity: 1;
    }
  }
  &__elements{
    margin-left: 15px;
    vertical-align: middle;
  }
  &__header{
    font-size: 1.125rem;
    font-weight: bold;
  }
  &__bottom{
    font-size: 0.8125rem;
  }
}

@import "_cars.scss";
