#nav{
  &__container{
    margin: auto;
    padding: 0;
  }
  &__content{
    min-height: 125px;
    max-height: 100%;
  }
}
.nav{
  &__phone{
    color: $fontCC;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    display: block;
  }
  &__address{
    font-size: 0.8125rem;
    display: block;
  }
  &__logo{
    display: inline-block;
    filter: grayscale(100%);
    &:hover{
      filter: grayscale(70%);
    }
  }
}
.label{
  &__seller{
    font-size: 0.8125rem;
    color: #878787;
  }
}
